
body {
    background-color: #2e2e2e;
    color: #f5f5f5;
    font-family: Arial, sans-serif;
    padding: 20px;
}
.container {
    max-width: 550px;
    margin: auto;
}
.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}


.logo {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
}

input, textarea {
    width: 100%;
    margin: 5px 0;
    padding: 10px;
    background: #444;
    color: white;
    border: 1px solid #665;
}
button, .journal-btn, .back-btn {
    background-color: #0066cc;
    color: white;
    padding: 10px 15px;
    margin-top: 15px;
    text-decoration: none;
    display: inline-block;
    border: none;
    cursor: pointer;
}
.flash {
    margin-top: 15px;
    padding: 10px;
    background-color: #444;
    color: lightgreen;
}
.entry {
    border-top: 1px solid #555;
    margin-top: 15px;
    padding-top: 10px;
}
.edit-link {
    color: #00ccff;
    text-decoration: underline;
    font-size: 0.9em;
}
.task-btn {
    background-color: #444;
    color: #00ccff;
    padding: 5px 10px;
    margin-left: 5px;
    text-decoration: none;
    border: 1px solid #0066cc;
    border-radius: 5px;
    font-size: 0.9em;
}
.task-btn:hover {
    background-color: #0066cc;
    color: white;
}
.task-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
    padding: 5px;
    border-bottom: 1px solid #444;
}

.task-info {
    flex-grow: 1;
    padding-right: 10px;
}

.task-datetime {
    color: #0066cc;
    text-decoration: underline;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-toggle {
    background: none;
    color: white;
    font-size: 20px;
    border: none;
    cursor: pointer;
    padding: 0 5px;
}

.dropdown-menu {
    display: none;
    position: absolute;
    right: 0;
    background-color: #2e2e2e;
    min-width: 100px;
    box-shadow: 0px 2px 8px rgba(0,0,0,0.3);
    z-index: 1;
    border: 1px solid #555;
}

.dropdown-menu a {
    color: white;
    padding: 8px 10px;
    display: block;
    text-decoration: none;
    border-bottom: 1px solid #444;
}

.dropdown-menu a:hover {
    background-color: #444;
}

.dropdown:hover .dropdown-menu {
    display: block;
}
