<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Journal & Health Tracker</title>
<link rel="stylesheet" href="{{ url_for('static', filename='journal.css') }}">
</head>
<body>
<div class="journal-container">
    <img src="{{ url_for('static', filename='logo_green.png') }}" alt="Marsh Logo" class="journal-logo">

    <h1 class="welcome-text">
        Welcome to your <br>
        Journal and <br>
        Health Tracker
    </h1>

    <div class="button-grid">
    <a href="{{ url_for('new_journal_entry') }}" class="journal-btn">Add New Entry</a>
    <a href="{{ url_for('view_journal_calendar') }}" class="journal-btn">View or Edit Past Entries</a>
    <a href="{{ url_for('food_entry') }}" class="journal-btn">Food Entry</a>
    <a href="{{ url_for('scheduler') }}" class="journal-btn">Scheduler</a>
</div>


</div>
</body>
</html>

